.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 126, 182);
  }
  
  .flex-container > div {
    background-color: #c5c6ec;
    width: 1440px;
    margin: 7px;
    text-align: center;
    line-height: 250px;
    font-size: 30px;
  }