* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px;
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 15px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
